[submodule "elastic_vectra_lib"]
	path = elastic_vectra_lib
	url = ../elastic-vectra-lib
[submodule "stakeholder/soc_db_utils"]
	path = stakeholder/soc_db_utils
	url = ../soc-db-utils
[submodule "elastic_vectra_exporter"]
	path = elastic_vectra_exporter
	url = ../elastic-vectra-exporter
